# Secrets
.env
.streamlit/secrets.toml

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/

# Database local storage
qdrant_storage/
neo4j_storage/
*.db

# Copyrighted source data — do not commit
data/*.epub
data/*.txt
!data/game_of_thrones_sample.txt
!data/README.md

# IDE / OS configs
.idea/
.vscode/
.DS_Store
Thumbs.db
